* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.introduction {
  font-size: 1.3rem;
  align-self: center;
}

.hp-bg {
  background-color: black;
  padding: 10% 10% 5% 10%;
}

.hp-card {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  padding: 15px;
  flex-direction: row;
}

.intro-links {
  text-decoration: none;
}

.card-body {
  padding: 0;
}

.portrait {
  border-radius: 50%;
  overflow: hidden;
  width: 97%;
  height: 97%;
}

.portrait-border {
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
  position: relative;
  /* animation: rotate 4s linear infinite; */
}

.portrait-border::before {
  position: absolute;
}

.portrait-border::after {
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 1023px) {
  .hp-bg {
    padding: 100px 140px;
  }

  .portrait-border {
    margin: 0 15px 0 0;
  }

  .hp-card {
    display: block;
  }

}
@media screen and (max-width: 766px) {
  .hp-bg {
    padding: 50px 50px;
  }

  .hp-card {
    display: block;
  }

  .portrait-border {
    margin: 0px 0px 10px 0px;
  }

  .introduction {
    font-size: 1.2rem;
  }
}

